html {
  box-sizing: border-box;
  overflow: hidden;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #001f1e;
  color: white;
  // font-family: $basis;
  font-weight: 300;
  overflow: hidden;
  line-height: 1.3;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}
