html {
  box-sizing: border-box;
  overflow: hidden;

  &.scroll {
    overflow: visible;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #001f1e;
  color: white;
  font-weight: 300;
  line-height: 1.3;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}
