.credits {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-weight: 200;
  font-family: Oswald;
  font-size: 12px;
  letter-spacing: 0.03em;
  align-items: center;

  &__title {
    font-size: 10px;
    margin-bottom: 5px;
    opacity: 0.5;
  }

  li {
    opacity: 0.5;
    margin-bottom: 2px;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }
}
