<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>

    {{#block "head"}}{{/block}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Glowing tree</title>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
      <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>

  </head>

  <body class="{{bodyclass}}">
    <section class="scene">
      <canvas class="scene__canvas" data-scene></canvas>
      <div class="scene__overlay">
        <div class="scene__loader">Loading...</div>
      </div>
    </section>
    <section class="scroll-container">

    </section>

    {{#block "body"}}{{/block}}
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
  {{#block "scripts"}}{{/block}}

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>

  <% if (htmlWebpackPlugin.options.devServer) { %>
  <script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
  <% } %>

</html>
